@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

@plugin "daisyui";

body {
    font-family: Mali, sans-serif;
}

nav {
    margin: 10px auto;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /*bottom: 0;*/ /* Position the navbar at the bottom of the page */
    top: 0;
    
    width: 100%;
}

footer {
    bottom: 0;
}
