---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { Button } from '@heroui/react';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import { toast } from 'react-hot-toast'
import '@/styles/loading.css'

const testToast = () => toast.success('Successfully created!');
---
<Layout>
	<div class="container">
		<div class="container">
			<div class="container">
				<p>hello world</p>
			</div>
		</div>
	</div>
</Layout>

<!-- <!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Maintainance | TuuperCove</title>
		<meta name="description" content="อาณาจักรวีทูปเบอร์ที่สามารถทำได้หลายๆอย่างได้มาาาาาาาาาาาาาาาากที่สุด จริงมะๆ? แต่ตอนนี้ยังไม่เปิดนะ แต่กำลังทำให้อยู่น้าาาา">
		<meta name="keywords" content="developer, dev, รับทำเว็บช้อป, seo, โยสิเกตุ, yosiket, yosiket dev, รับทำเว็บเกม, broverz, brover, xdnz, team xdnz, fullstack, nicekun, nicekun dev, ccnicebruh, hotcup, ไนส์, vtuber, vtuberth, vtuberthai, vtuberthaiinfo, วีทูปเบอร์, วี, วีไทย, จัดอันดับ, วีทูปไทย, จัดอันดับวีไทย, จัดอันดับวีทูปเบอร์ไทย, vtuberthairanking, vthai, vth, tuupercove, tpc, new-tpc, new-tpl, vtuberthaiinfo, vti, pumpkins, pumpkin, pumpkinsub0, youtube, twitch, twitter, x, kick">
		<link rel="canonical" href="https://hotcup.app" />
		<meta property="og:url" content="https://hotcup.app" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="TuuperCove inTheDev" />
		<meta property="og:site_name" content="TuuperCove" />
		<meta property="og:description" content="อาณาจักรวีทูปเบอร์ที่สามารถทำได้หลายๆอย่างได้มาาาาาาาาาาาาาาาากที่สุด จริงมะๆ? แต่ตอนนี้ยังไม่เปิดนะ แต่กำลังทำให้อยู่น้าาาา" />
		<meta property="og:image" content="https://gifdb.com/images/high/cool-anime-yui-hirasawa-k-on-b90459ws3s9us66w.gif" />
		<meta name="theme-color" content="#5ACCD0">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@tuupercove" />
		<meta name="twitter:creator" content="@tuupercove" />
		<script 
			src="https://unpkg.com/htmx.org@1.9.6"
      		integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      		crossorigin="anonymous"
		></script>
		<script 
			src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"
		></script>
    	<link 
			rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css"
		>
	</head>
	<body>
		<div class="container">
			<div class="text-box">
				<div class="text-primary">
					<p>Maintaining mode</p>
				</div>
				<p>anonymous</p>
				<div class="text-secondary">
					<p>This website is in maintainance mode</p>
				</div>
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style> -->