---
import toast from "react-hot-toast"
const easterEggs = () => toast("tada!")
---

<footer>
    <center>
        <div class="container">
            <p>;copy 2025 TuuperCove</p>
        </div>
    </center>
</footer>