---
import toast from "react-hot-toast"
const easterEggs = () => toast("tada!")
---

<footer>
    <center>
        <div class="container">
            <p>©️ 2025, TuuperCove คุ้มครองด้วยลิขสิทธิ์ MIT และทุกอย่างเป็น <a class="link link-hover link-info">Open Source บน GitHub</a></p>
        </div>
    </center>
</footer>