---
import "@/styles/global.css";
import "@/styles/loading.css";
import Navbar from '@/components/Navbar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TuuperCove</title>
		<meta name="description" content="อาณาจักรวีทูปเบอร์ที่สามารถทำได้หลายๆอย่างได้มาาาาาาาาาาาาาาาากที่สุด จริงมะๆ?">
		<meta name="keywords" content="developer, dev, รับทำเว็บช้อป, seo, โยสิเกตุ, yosiket, yosiket dev, รับทำเว็บเกม, broverz, brover, xdnz, team xdnz, fullstack, nicekun, nicekun dev, ccnicebruh, hotcup, ไนส์, vtuber, vtuberth, vtuberthai, vtuberthaiinfo, วีทูปเบอร์, วี, วีไทย, จัดอันดับ, วีทูปไทย, จัดอันดับวีไทย, จัดอันดับวีทูปเบอร์ไทย, vtuberthairanking, vthai, vth, tuupercove, tpc, new-tpc, new-tpl">
		<link rel="canonical" href="https://hotcup.app" />
		<meta property="og:url" content="https://hotcup.app" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="NiceKun Dev" />
		<meta property="og:site_name" content="NiceKun" />
		<meta property="og:description" content="อาณาจักรวีทูปเบอร์ที่สามารถทำได้หลายๆอย่างได้มาาาาาาาาาาาาาาาากที่สุด จริงมะๆ?" />
		<meta property="og:image" content="https://gifdb.com/images/high/cool-anime-yui-hirasawa-k-on-b90459ws3s9us66w.gif" />
		<meta name="theme-color" content="#5ACCD0">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@tuupercove" />
		<meta name="twitter:creator" content="@tuupercove" />
		<script 
			src="https://unpkg.com/htmx.org@1.9.6"
      		integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      		crossorigin="anonymous"
		></script>
		<script 
			src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"
		></script>
    	<link 
			rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css"
		>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
